@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Lato&display=swap');
:root {
    --clr-background: #e8ffe8;
    --clr-common: #fdfdfd;
    --clr-box-shadow: #00fff0;
    --clr-font: #000000;
    --clr-nav-bar: #5693c9;
    --clr-footer: #000000;
    --clr-div: #43dde6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Gentium Book Plus', serif;
    background: var(--clr-common);
}
nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: var(--clr-nav-bar);
    z-index: 1;
}
nav .container{
    display: flex;
    gap: 50px;
    margin-right: 80px;
}
nav .container a{
    list-style: none;
}
.container li{
    list-style: none;
    display: inline-block;
}
.container li a{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid transparent;
    padding: 7px 10px;
    color: var(--clr-common);
}
.container li a:hover{
    border: 1px solid #ff304f;
}
nav>img{
    width: 50px;
    margin-left: 30px;
}
header{
    background-image: url(images/cover-photo-three.webp);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-parent-one{
    position: absolute;
    margin-top: 550px;
    text-align: center;
    align-items: center;
    line-height: 55px;
    left: 25%;
    color: var(--clr-font);
}
.div-parent-one h1{
    font-size: 3em;
    font-weight: bold;
}
.div-parent-one p{
    font-size: 2em;
}
.div-parent-one a{
    text-decoration: none;
    padding: 7px 10px;
    background: #ff304f;
    color: var(--clr-common);
    font-weight: bold;
    border-radius: 6px;
}
.section-one{
    margin-top: 290px;
}
.section-one h1{
    text-align: center;
    font-size: 4em;
}
.line{
    border: 1px solid var(--clr-div);
    margin-left: 398px;
    margin-right: 398px;
}
.section-one-div-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.content{
    height: 310px;
    width: 300px;
    margin: 5px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: ;
    border: 1px solid red;
}
.content img {
    height: 308px;
    width: 100%;
}